<h2>Adventure Time 🦋</h2>

@(Html.DevExtreme().DataGrid<SampleCharacter>()
    .ShowBorders(true)
    .DataSource(_ => _.Mvc().Controller("SampleData").LoadAction("Get").Key("Id"))
    .Columns(columns =>
    {
        columns.AddFor(_ => _.Id);
        columns.AddFor(_ => _.Name);
        columns.AddFor(_ => _.Age);
        columns.AddFor(_ => _.Species);
        columns.AddFor(_ => _.Gender);
    })
    .Paging(_ => _.PageSize(10))
    .FilterRow(_ => _.Visible(true))
    .HeaderFilter(_ => _.Visible(true))
    .GroupPanel(_ => _.Visible(true))
    .Grouping(_ => _.AutoExpandAll(false))
    .RemoteOperations(true)
    .Summary(_ => _
        .GroupItems(groupItems => {
            groupItems.Add().SummaryType(SummaryType.Count);
        })
    )
)